<div class="header">
  <div class="">
    <div class="col-xs-12 col-sm-6 col-md-6 title">
      <h1>Deja de estar perdido y encuentra tu ruta</h1>
      <button type="submit" class="btn-create btn">Crea tu ruta</button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 image"><img src="" alt=""></div>
  </div>
</div>

<div class="">
  <div class="filter">
    <form class="form-inline">
      <div class="title"><h2>Elige tu ruta</h2></div>
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="formInfo.city" name="city" placeholder="City"/>
      </div>
      <div class="form-group">
        <select class="form-control input-lg" [(ngModel)]="formInfo.schedule" name="schedule" placeholder="Seleccionar">
          <option value="">--- Select schedule ---</option>
          <option  *ngFor="let sched of schedule" value="{{ sched }}">{{ sched }}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control input-lg" [(ngModel)]="formInfo.routegenre" name="routegenre" placeholder="Seleccionar">
          <option value="">--- Selecet type ---</option>
          <option  *ngFor="let genre of places_genre" value="{{ genre }}">{{ genre }}</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control input-lg" [(ngModel)]="formInfo.pricerange" name="pricerange" placeholder="Seleccionar">
          <option value="">--- Select price ---</option>
          <option  *ngFor="let price of price_range" value="{{ price }}">{{ price }}</option>
        </select>
      </div>
      <br>
      <!-- <li><a [routerLink]="['/signup']">Signup</a></li> -->

      <a [routerLink]="['/routes']">
        <button type="submit" (click)="searchRoutes()" class="btn">Buscar</button>
      </a>
    </form>
  </div>
</div>





<!--  -->
