.header h1{
  color: white;
  font-size: 6rem;
  font-weight: 300;
}

.header .row{
  display: flex;
 text-align: left;
}
.header .image{
  height: 600px;
  background: url('../../assets/images/mobile-phone.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  margin-left: 10%;
  background-position: 30% 20%;
}
.header .title{
  padding-left: 10%;
  margin: auto;
}

.header{
  padding-top: 80px;
  height: 700px;
  background: url('../../assets/images/bg-pattern.png'),linear-gradient(to left,#7b4397,#dc2430);
}

.filter{
  padding: 50px 0;
  text-align: center;
  width: 100%;
  margin: 0;
}
.container{
  width: 100%;
}



.filter .title{
  color: #fdcc52;
  margin: 50px 0;
}
.filter .title h2{
  font-size: 5rem;
}
.filter .btn{
  margin: 50px;
  padding: 10px 30px
}
