<div class="signup">
  <div class="col-md-6 signup-form">
    <form class="form-group col-md-8">
      <h2> Signup </h2>
      <input class="form-control" type="text" placeholder="Username" [(ngModel)]="formInfo.username" name="username" required/>
      <br>
      <input class="form-control"  type="password" placeholder="Password"  [(ngModel)]="formInfo.password" name="password" required/>
      <br>
      <input class="form-control"  type="email" placeholder="Email"  [(ngModel)]="formInfo.email" name="email" required/>
      <br>
      <button class="btn btn-default" (click)="signup()"> signup </button>
    </form>
  </div>
</div>
