.signup{
  height: 90vh;
  background: url('../../assets/images/bar4.jpg'),linear-gradient(to left,#7b4397,#dc2430);
  display: flex;
  background-size: cover;
}

.signup-form{
  background: rgba(255,255,255,0.9);
  margin: 100px auto;
  display: flex;
  height: auto;
}

.form-group{
  margin: 20px auto;
}

@media screen and (max-width: 768px){
  h2{
    margin:20px;
  }

}
