.login{
  height: 80vh;
  background: url('../../assets/images/bar4.jpg');
  /*,linear-gradient(to left,#7b4397,#dc2430);*/
  background-size: cover;
  display: flex;
}

.login-form{
  background: rgba(255,255,255,0.9);
  margin: 100px auto;
  display: flex;
  height: auto;
}

.form-group{
  margin: 20px auto;
}
