<div class="list-places col-md-6">
  <h3>Lugares</h3>
  <ul *ngFor="let place of arrPlacesName">
    <li>{{place}} | <span (click)="deletePlace(place)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></li>
  </ul>
</div>

<div class="col-md-6 map">
  <div class="form-group">
    <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput">
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
      <sebm-google-map-directions [origin]="origin" [destination]="destination" [waypoints]="waypoints"></sebm-google-map-directions>
    </sebm-google-map>
  </div>
</div>

<!-- <button style="width: 20%; float:left; margin:0" class="btn add"(click)="createPlace()"> Add </button> -->
